body {
    background: gray;
}

.navbar {
    
    background-color: #657A55;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.card {
    background-color:#FFF5DB;
}
.btn {
    padding: 0;
}
.jumbotron {
    padding: 32px;
}
#treeImage, #lawnImage {
    width: 80%;
    margin: 30px auto;
}
#lawnImage {
opacity: .7;
}

.alert {
    margin-bottom: 0;
}
/*
FFF5DB
#9CC27E
*/
